*{
    all: unset; /*Fjerne all user agent stylesheet*/
    display: revert; /*Den aktiverer display funktionen i user agent stylesheet*/
    box-sizing: border-box; /*Bredde på et element er inklusiv padding og border*/
}

img{
    /*max er nødvendigt for at billeder bliver så stort som der kan blive i boksen den er i*/
    max-width: 100%;
}

/* Fonts */
h1{
    font-family: ;
    font-size:2.5rem;
    font-weight: ;
    margin-bottom: 12px;
}
h2{
    font-family: ;
    font-size:1.75rem;
    font-weight: ;
    margin-bottom: 12px;
}

h3 {
    font-family: ;
    font-size: 1.25rem;
    font-weight: ;
}

.display-font{
    font-family: ;
    font-size: 5rem;
    font-weight: ;
}

.body-text{
    font-family: ;
    font-size:1.25rem ;
    font-weight: ;
}




/* Fonts slut */

.main-whitespace{
    max-width: 1138px;
    margin: 0 auto;
    padding: 2rem 0;
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{  
    display: flex;
    flex-direction: column;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.justify-end{
    justify-content: flex-end;
}

.text-padding-top{
    padding-top: 0.5rem;
}

.text-padding-bottom{
    padding-bottom: 0.5rem;
}


/* Emil start */

.begivenheder-pictures{
    height: 200px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: grey;
    margin-bottom: 32px;
}

.begivenheder-text{
    margin-left: 20px;
    max-width: 230px;
}

.share{
    font-size: 1.50rem;
    margin-left: 10px;
}

.flex-bottom{
    margin-top: auto;
}

.begivenheder-flex{
    max-height: 200px;
    margin-bottom: 20px;
}

.read-more{
    margin-right: 10px;
    margin-top:6px ;
}

/* emil slut */

/* Malte start */
.beskrivelse-textbox{
    border: solid 2px black;
    padding: 12px;
    margin: 12px 0;
}

.konkurrencer-textbox{
    border: solid 2px black;
    padding: 12px;
    margin: 12px 0;
}

.tilmeld-afmeld-knap{
    border: solid black 2px;
    padding: 5px;
}

.information-sommerfest{
    justify-content: center;
    margin-left: 200px;
}

.box-grey{
    height: 367px;
    width: 578px;
    background-color: grey;
}

#picure-sommerfest{
    background-image: url(https://frinet.nemtilmeld.dk/images/descriptions/13571/521ee98b-fd50-4eb3-9bc0-6fb583d51eebSommerfest-2016-1-von-1.jpg);
}
/* Malte Slut */

/* Vicky Start - Forside og header*/

.front-page-padding{
    padding: 2rem 1.5rem;
}

header{
    height: 3rem;
    border: solid 2px;
}

.header-text {
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
	
.logo {
    max-height: 3rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
}

nav {
    flex: 1;
}

.nav-a {
    padding: 0 2rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.log-ind {
    align-items: center;
    padding: 0 1.5rem 0 2rem;
}

.banner-container{
    position: relative;
    text-align: center;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.banner{
    width: 100vw;
    padding-bottom: 0.5rem;
}

.netflix-galleri-card{
    padding-right: 1.5rem;
    min-width: 270px;
}

.horizontal-scroll{
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

article{
    border: solid 2px;
    padding: 0.75rem;
    min-width: 600px;
    margin-right: 1.5rem;
}

.blog-post-image{
    min-width: 225px;
}

.blog-post-text{
    padding: 0 0 0.5rem 0.75rem;
}

.bp-image-text{
    padding: 0.5rem 0;
}

.comment-box{
    border: solid 1px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.-pointer{
    cursor: pointer;
}

/* mine begivenheder side */

.padding-bottom{
    padding-bottom: 2rem;
}
/* Vicky Slut */

/* Alexander start */
.h1login{
    display: flex;
    justify-content: center;
    padding-top: 7rem;
    margin: auto;
    font-size: 2.7rem;
}
.h2login{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin:auto;
    
   
}


.textbox{
    display: flex;
    justify-content: center;
    border: solid 2px;
    margin-top: 20px;
    margin:auto;
    border-color: rgb(134, 133, 133);
    border: solid 2px;
    width: 23rem;
    height: 3rem;
    

}
.login{
    display: flex;
    justify-content: center;
    margin:auto;
    border-color: rgb(134, 133, 133);
    border: solid 2px;
    padding: 2px;  
}
.annuller{
    display: flex;
    justify-content: center;
    max width: 23rem;
}
.logininfo{
    display: flex;
    justify-content: center;
}

/* Alexander slut */