*{
    all: unset; /*Fjerne all user agent stylesheet*/
    display: revert; /*Den aktiverer display funktionen i user agent stylesheet*/
    box-sizing: border-box; /*Bredde på et element er inklusiv padding og border*/
}

.split-row{
    display: flex;
    flex-direction: row;
}
.split-column{  
    display: flex;
    flex-direction: column;
}