*{
    all: unset; /*Fjerne all user agent stylesheet*/
    display: revert; /*Den aktiverer display funktionen i user agent stylesheet*/
    box-sizing: border-box; /*Bredde på et element er inklusiv padding og border*/
}

img{
    /*max er nødvendigt for at billeder bliver så stort som der kan blive i boksen den er i*/
    max-width: 100%;
}

/* Fonts */
h1{
    font-family: ;
    font-size:2.5rem;
    font-weight: ;
    margin-bottom: 12px
}
h2{
    font-family: ;
    font-size:1.75rem;
    font-weight: ;
}
.body-text{
    font-family: ;
    font-size:1.25rem ;
    font-weight: ;
}

/* Fonts slut */
.main-whitespace{
    max-width: 1138px;
    margin: 0 auto;
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{  
    display: flex;
    flex-direction: column;
}

.justify-end{
    justify-content: flex-end;
}

/* Emil start */

.begivenheder-pictures{
    height: 200px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: grey;
    margin-bottom: 32px;
}

/* emil slut */

/* Malte start */

.box-grey{
    height: 367px;
    width: 578px;
    background-color: grey;
}

#picure-sommerfest{
    background-image: url(https://frinet.nemtilmeld.dk/images/descriptions/13571/521ee98b-fd50-4eb3-9bc0-6fb583d51eebSommerfest-2016-1-von-1.jpg);
}
/* Malte Slut */

/* Vicky Start - Forside og header*/

header{
    height: 3rem;
}

.header-text {
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
	
.logo {
    padding-left: 1.5rem;
}

nav {
    flex: 1;
}

.nav-a {
    padding: 0 2rem;
}

.log-ind {
    align-items: center;
    padding: 0 1.5rem 0 2rem;
}

.banner{
    width: 100vw;
}

.front-page-padding{
    padding: 2rem 1.5rem;
}

/* Vicky Slut */

/* Alexander start */

.textbox{
    display: flex;
    justify-content: center;
    margin:;
    border: solid 2px;
    border-color: rgb(134, 133, 133);
    padding: 8px;

}
.login{
    display: flex;
    justify-content: center;
    border: solid 2px;
    border-color: rgb(134, 133, 133);
    padding: 2px;
   
}

/* Alexander slut */